@font-face {
  src: url(../fonts/CabinetGrotesk-Medium.ttf);
  font-family: headingFont;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --primary-color-100: hsl(210, 21%, 95%);
  --primary-color-200: hsl(210, 21%, 75%);
  --primary-color-300: hsl(210, 21%, 65%);
  --primary-color-800: hsl(210, 21%, 5%);
  --accent-color: #fd4d4d;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color-800);
  color: var(--primary-color-100);
  font-family: "Poppins", sans-serif;
}

.accent {
  color: var(--accent-color);
}
.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: hidden;
  display: none;

  .navBefore {
    position: absolute;
    margin-left: 100%;
    width: 100%;
    height: 100%;
    background: var(--accent-color);

    .nav {
      position: relative;
      margin-left: 100%;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      background: var(--primary-color-800);
      align-items: center;
      justify-content: center;

      ul {
        text-align: center;
        list-style: none;

        li {
          font-size: 3rem;
          text-transform: uppercase;

          a {
            font-weight: 800;
            color: var(--primary-color-100);
          }
        }
      }
    }
  }
}
.navbar {
  text-transform: uppercase;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  overflow: hidden;

  .navbar-brand {
    color: var(--accent-color);
  }

  a {
    color: var(--primary-color-100);
    font-weight: 600;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 0.25rem 0;
      text-align: right;
      // display: inline;
    }
  }
}

.menuBtn {
  padding: 0 !important;
  display: none;
  text-transform: uppercase;
  color: var(--primary-color-100);
  line-height: 15px;
  font-weight: 800;
  transition: 0.5s ease;

  &:focus {
    outline: none;
    color: var(--primary-color-100);
  }

  span {
    position: absolute;
    right: 1rem;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  & :nth-child(2) {
    // display: none;
    transform: translateY(200%);
  }

  &.active > span:nth-child(1) {
    // display: none;
    transform: translateY(-200%);
  }
  &.active > span:nth-child(2) {
    // display: block;
    transform: translateY(0);
  }
}

.hero-wrapper {
  overflow: hidden;

  .hero-top {
    height: 100vh;
    width: 100%;
    text-transform: uppercase;
    font-family: headingFont;
    font-weight: 100;

    .hero-img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }

    .hero-text {
      width: 100%;
      overflow: hidden;
      // padding: 4vw 0;

      h1 {
        font-size: 13vw;
        position: absolute;
        bottom: 0;
        transform: scale(0.7);
        transition: 0.5s ease-out;
        // mix-blend-mode: difference;
      }
      .first-name {
        left: -3vw;
      }

      .last-name {
        right: -8vw;
      }
    }
    .scroll-down {
      position: absolute;
      right: 3vw;
      bottom: 1rem;
      opacity: 0.35;
      transition: 0.3s ease;
      color: var(--accent-color);

      h5 {
        font-weight: 600;
        margin: 0 1rem;
      }
    }
    .mouse-scroll {
      position: relative;
      width: 26px;
      height: 42px;
      border: 1px solid var(--accent-color);
      border-radius: 50px;

      &::after {
        position: absolute;
        top: 8px;
        width: 6px;
        height: 12px;
        content: "";
        background-color: var(--accent-color);
        right: calc(50% - 2.5px);
        border-radius: 10px;
        animation: mouse 1.8s infinite;
      }

      @keyframes mouse {
        from {
          transform: translateY(0px);
        }
        to {
          opacity: 0;
          transform: translateY(12px);
        }
      }
    }
  }

  .hero-bottom-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-bottom {
      text-align: center;
      width: 80%;
      padding: 35vw 2rem 2rem;

      p {
        font-size: 2.5rem;
      }
    }
  }
}

.section-title {
  padding: 2rem;
  p {
    text-transform: uppercase;
  }
}

.wrapper {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  padding: 2vh 0;

  h1 {
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50vh;
    line-height: 0.8;
    opacity: 0.03;
    z-index: -1;
  }
}
.sections {
  width: 300vw;
  height: 100%;
}
.sectionTitle {
  font-size: 30px;
  color: #fff;
}
.section {
  height: 100vh;
  width: 100vw;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;

  .project-wrapper {
    height: 100%;
  }
}

.project-img {
  align-items: flex-end;

  img {
    width: 100%;
    animation: bounce 1.3s infinite alternate;
    -webkit-animation: bounce 1.3s infinite alternate;
  }

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(4vh);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(4vh);
    }
  }
}

.project-desc {
  z-index: 1;

  h3 {
    overflow-wrap: anywhere;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .btn {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: 600;

    &:hover {
      color: #e46f6f;
    }
  }
}

.projects-know-more {
  height: 80vh;
  display: flex;
  padding-top: 10vh;
  justify-content: center;
  align-items: start;

  a {
    color: var(--accent-color);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

.services-wrapper {
  padding: 0 3rem;

  .services-card {
    .service-index {
      position: relative;

      &::before {
        content: "";
        background: var(--primary-color-100);
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        z-index: -1;
      }

      span {
        padding-right: 15px;
        font-size: 1.25rem;
        background: var(--primary-color-800);
        color: var(--accent-color);
      }
    }

    h3 {
      margin: 2rem 0;
      text-align: right;
      font-size: 4.5rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.glass-morph-wrap {
  padding: 30vh 6rem 10vh;
  position: relative;
  max-width: 100%;
  overflow: hidden;

  .before-ball {
    position: relative;
    transform: translate(-50%, 60%);
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
      330deg,
      rgba(200, 53, 53, 100),
      rgba(164, 55, 55, 0)
    );
    border-radius: 50%;
  }

  .glass-morph {
    padding: 5rem;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 30px;
    background-clip: padding-box;
    background: rgba(255, 255, 255, 0.1);
    // box-shadow: 0 0 40px var(--primary-color-800);
    backdrop-filter: blur(12px);

    .glass-content {
      h3 {
        font-size: 4.5rem;
        font-weight: 600;
        // text-transform: uppercase;
      }

      .btn {
        margin: 1rem 0;
        padding: 1rem 0;
        font-size: 1.5rem;
      }

      i {
        margin: 1rem 0.5rem;
        font-size: 1.4rem;
        color: var(--primary-color-300);
      }

      p {
        word-spacing: 2px;
        color: var(--primary-color-300);

        a:hover {
          color: #FFDC7C;
          text-decoration: none;
        }
      }
    }
  }

  .after-ball {
    position: absolute;
    transform: translate(20%, -70%);
    right: 0;
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
      215deg,
      rgba(200, 53, 53, 100),
      rgba(164, 55, 55, 0)
    );
    border-radius: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .hero-wrapper .hero-top .hero-text h1 {
    bottom: 4vh;
  }
}

@media only screen and (max-width: 769px) {
  .navbar {
    padding: 1.5rem 1rem !important;
  }

  .navbar-brand {
    padding-top: 0;
  }

  .navbar-links {
    display: none;
  }

  .menuBtn {
    display: block;
  }

  .hero-wrapper .hero-top .hero-text h1 {
    bottom: 5vh;
  }

  .hero-wrapper .hero-bottom-wrapper .hero-bottom {
    width: 100%;
  }

  .project-desc-wrapper {
    padding: 3rem 1rem !important;
  }

  .project-img {
    width: 100%;
    justify-content: center !important;

    img {
      width: 100%;
      max-width: 50vw;
    }
  }
  .services-wrapper {
    padding: 0 1rem !important;
  }
}

@media only screen and (max-width: 590px) {
  .hero-wrapper .hero-top .hero-text h1 {
    bottom: 0;
  }

  .hero-wrapper .hero-top .scroll-down {
    display: none !important;
  }

  .hero-wrapper .hero-bottom-wrapper .hero-bottom {
    padding-top: 20vw;

    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .project-img {
    height: 50%;

    img {
      max-width: 100%;
      position: absolute;
      top: 0%;
    }
  }
  .section:nth-child(2) > .project-wrapper .project-img {
    top: 10%;
  }

  .project-desc {
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  .services-wrapper .services-card h3 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 425px) {
  .project-desc-wrapper {
    padding: 1rem !important;
  }
  .services-wrapper .services-card h3 {
    font-size: 3rem;
  }
}




.anim-btn {
	width: max-content;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.anim-btn__button {
	padding: 16px 32px 13px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #534e4a;
	color: #534e4a;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: color 300ms ease, transform 300ms ease;

	&:hover,
	&:focus {
		color: #fff;
		cursor: pointer;
	}

	&:hover + .anim-btn__overlay,
	&:focus + .anim-btn__overlay {
		transform: translateY(calc(-100% + 2px));
	}

	&:active {
		transform: scale(0.8);
	}

	&:active + .anim-btn__overlay {
		transform: translateY(calc(-100% + 2px)) scale(0.8);
	}
}

.anim-btn__overlay {
	background-color: #534e4a;
	height: calc(100% + 2px);
	width: 100%;
	position: absolute;
	bottom: calc(-100% - 2px);
	left: 0;
	z-index: -1;
	transition: transform 300ms ease;
}







.Hire{
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Hire a{
  display: block;
  width: 100px;
  line-height: 40px;
  background: #FFDC7C;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Hire a:before,
.Hire a:after{
  position: absolute;
  content: "";
  transition: all .25s;
}

.Hire a:before{
  border-bottom: 2px solid orange;
  border-left: 2px solid yellow;
  width: 10%;
  height: 33%;
  left: -10px;
  bottom: -10px;
}

.Hire a:after{
  border-top: 2px solid yellow;
  border-right: 2px solid orange;
  width: 10%;
  height: 33%;
  top: -10px;
  right: -10px;
}

.Hire a:hover:before{
  width: 112%;
  height: 140%;
}

.Hire a:hover:after{
  width: 112%;
  height: 140%;
}




